.header {
    height: 8vh;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    color:#fff;
    background: #5f4e7f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    text-decoration-skip-ink: none;

}